* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  max-width: 1157px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}
.header__border {
  border-bottom: solid 1px #3ddb5c;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.header__menu select {
  color: #1c4953;
  font-size: 16px;
  margin-right: 28px;
  cursor: pointer;
}
.header__menu a {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  margin-right: 28px;
}
.header__icon {
  display: flex;
  justify-content: space-between;
  gap: 29px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 170px;
}

.hero__content {
  display: flex;
  margin-top: -100px;
  gap: 100px;
}
.hero__image {
  height: 650px;
  width: auto;
}
.hero__content p {
  color: #1c4953;
  font-size: 21px;
  width: 400px;
}
.hero__content button {
  padding: 16px 48px;
  color: #7fe27b;
  font: 26px;
  background-color: #1c4953;
  border: none;
  border-radius: 8px;
}
.support {
  display: flex;
  gap: 92px;
  justify-content: center;
  align-items: center;
}
.support__title {
  font-size: 64px;
  margin-bottom: 18px;
}
.support__desc {
  color: #1c4953;
  font-size: 21px;
  width: 350px;
  margin-top: 40px;
}
.support button {
  padding: 16px 48px;
  color: #1c4953;
  font: 26px;
  background-color: #7fe27b;
  border: none;
  border-radius: 8px;
  margin-top: 36px;
}
.programs__bg {
  background-color: #7fe27b;
  margin-top: 95px;
}
.programs {
  display: flex;
  gap: 118px;
  justify-content: center;
  align-items: center;
  padding: 94px 0;
}
.programs__image {
  display: flex;
  gap: 15px;
}
.programs__image img {
  border-radius: 8px;
  cursor: pointer;
}

.programs__images {
  height: 380px;
  width: 300px;
}
.programs__image_1 {
  margin-top: 40px;
}
.programs__image_2 p {
  padding: 14px 0;
  margin-left: 23px;
  color: #1c4953;
  font-size: 16px;
}
.programs__image_2 a {
  margin-left: 23px;
  color: #1c4953;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.programs__button {
  display: flex;
  gap: 13px;
  align-items: center;
}
.programs__title {
  font-size: 51px;
  font-weight: bold;
  color: #1c4953;
}
.programs__desc {
  color: #1c4953;
  font-size: 21px;
  margin: 52px 0px 36px;
}
.programs__button2 {
  font-size: 21px;
  text-decoration: none;
  color: #1c4953;
}
.apply__bg {
  background-color: #1c4953;
}
.apply {
  display: flex;
  align-items: center;
}
.apply__content {
  width: 50%;
  padding-right: 224px;
}
.apply__title {
  font-size: 52px;
  color: #7fe27b;
}
.apply__title span {
  color: white;
  font: 52px;
}
.apply__desc {
  color: white;
  margin: 53px 0 32px;
  line-height: 25px;
}
.apply__image {
  width: 50%;
}
.apply__image img {
  height: 500px;
  width: 500px;
}
.apply__action {
  display: flex;
  align-items: center;
  gap: 14px;
}
.apply__action a {
  color: #7fe27b;
  font-size: 18px;
  text-decoration: none;
}
.form__bg {
  background-color: #7fe27b;
}
.contact {
  padding: 100px 0;
  display: flex;
  gap: 120px;
}
.contact__vector {
  background-image: url(./images/contact_vector.svg);
  background-repeat: no-repeat;
  width: 920px;
}
.contact__content {
  width: 50%;
}
.contact__title {
  font-size: 51px;
  color: #1c4953;
  font-weight: 600;
}
.contact__desc {
  color: #1c4953;
  font-size: 21px;
  padding-top: 27px;
  width: 415px;
}
.contact__form {
  display: flex;
  gap: 12px;
  width: 50%;
}
.contact__inputs {
  color: #1c4953;
  font-size: 16px;
  font-weight: 500;
}
.contact__inputs input {
  padding: 18px 0;
  padding-left: 13px;
  padding-right: 28px;
  border: none;
  margin: 6px 0 12px;
  border-radius: 8px;
  background-color: white;
  font-weight: normal;
  outline: none;
}

.contact__inputs input::placeholder {
  font-size: 14px;
  color: #676784;
}

.contact__inputs button {
  background-color: #1c4953;
  color: #7fe27b;
  padding: 16px 38px;
  margin-top: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
.form__designation {
  display: flex;
  flex-direction: column;
}
.form__designation select {
  padding: 18px 0;
  padding-left: 13px;
  padding-right: 28px;
  border: none;
  margin: 6px 0 12px;
  border-radius: 8px;
  background-color: white;
  font-weight: normal;
  font-size: 14px;
  color: #676784;
outline: none;
}
